*{
    box-sizing: border-box;
}
.button-wrapper{
    display: flex;
    justify-content: center;
}
button{
    background-color: transparent;
    border: 1px solid #34495e;
    padding:10px;
    color: #2c3e50;
}
.button{
    width: 300px;
    text-align: center;
    display: inline-block;
}

.button code{
    transform: scale(.75);
    display: block;
}
body{
    padding: 20px;
}

#kingdom{
    padding:50px 20px;
}

#menus{
    display: none;
}



.item{
    margin: .25em;
    padding: 1.5em;
    position: relative;
    min-width: 12em;
    border: .15em solid;
    font-size: .8em;
}

.item > span {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    text-align: center;
}
.subject, #subject{
    border-color: #3498db;
}
.subject.lord, #subject-lord{
    border-color: #e74c3c;
}
.king, #king{
    border-color: #9b59b6;
}


.lord {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


